<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_save_before">
        <observer name="condor872_SearchableAttributes_Observer_Updademultiselectattributes" instance="condor872\SearchableAttributes\Observer\Updademultiselectattributes" />
    </event>
</config>

